*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkcyan;
}
h1{
    padding: 50px;
    font-family: cursive;
}
input{
    width:80% ;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 10px;
}
button{
    padding: 10px;
    margin: 10px;
    background-color: cornsilk;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: fantasy;
    font-weight: bolder;
}
p{
    color: white;
    font-size: 20px;
}